
._awardsduring{
        div.rect {
            background-color: $cg-red;
            width: 700px;
            height: 300px;
            color: white;
            border-color: $cg-red;
            margin-bottom: 15px;
            position: relative;
            left: 20px;
        }

        div.content {
            margin: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -100px;
            margin-top: -100px;
        }

        img {
            width: 180px;
            height: 180px;
            -moz-border-radius: 180px;
            -webkit-border-radius: 180px;
            border-radius: 180px;
            float: left;
            margin-top: 60px;
            margin-left: 15px;
        }

        h1, p {
            color: white;
        }


}