
._category {
    min-height: 91vh;

    .firstBox {
        padding: 5%;
        p{
            text-align:justify;
        }
    }

    .rect {
        width: 100%;
        background-color: $cg-red;
        color: white;
        text-align: right center;
        z-index: 10;
        font-family: Lato;
        position: relative;
        bottom: 15px;
        height: 95px;
        padding: 1%;

        &:nth-of-type(3) {
            background-color: $cg-lightred;
            color: white;
        }

        &:nth-of-type(5) {
            background-color: $cg-lightred;
            color: white;
        }
    }

    div.rect .dots-container {
        position: relative;
        z-index: 15;
    }

    .dots {
        display: flex;
        flex-direction: column;
        background-color: $cg-violet;
        border-radius: 1000px;
        width: 10px;
        height: 10px;
        border: none;
        position: relative;
        left: 95%;
        top: 6px;
        margin-bottom: 3px;
        margin-top: 2px;
        color: white;
        top: 10px;
    }
   
    a.vote {
        background-color: $cg-violet;
        float: right;
        position: relative;
        color: white;
        font-style: italic;
        bottom: 20px;
        font-size: small;
        padding-right: 7px;
        padding-left: 4px;
        right:-10%;
    }

    div.content {
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        bottom: 30px;

        a {
            color: white;
            position: relative;
            bottom: 22px;
            font-size: 15px;
        }

        h5 {
            position: relative;
            bottom: 10px;
        }

        p {
            position: relative;
            bottom: 10px;
            font-size: 12px;
        }
    }

    h4, p {
        color: white;
        font-family: Lato;
    }
}
