.socialMedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h5{
        text-align: left;
        margin-left: 10%;
    }
}
