@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

p, h1, h2, h3, h4, h5, h6, a, span, strong, small {
    font-family: 'Lato', sans-serif;
}

body{
    font-size: 0.9rem;
}

h1, h2{
    margin-top: .5rem;
    font-size: 1.5rem;
}