.footerContainer{
    display: flex;
    background-color: $cg-lightblue;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: $cg-font-color;

    a{
        color: $cg-font-color;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

}

.footerColumn{
    width: 100%;
    padding: 5%;
    text-align: center;
}


