/*
    Frontpage elements
*/



.bublesFrontpage {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img{
        width: 25%;
    }

}

.topCircles{
    position: relative;
    bottom: -30px;
    margin-right: 10%;
}



.bublesFrontpage2 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: -30px;

    img {
        width: 20%;
        margin-left: 10%

    }
}


.downArrow {
   position: absolute;
   bottom: 5%;
   display: flex;
   justify-content: center;
   width: 100%;

   a {

       display: inline-block;
       width: 12%;
       }

    img {
        width: 100%;
        
    }
}



.logo-container {
    margin: 0 auto;
    width: 65%;

    img {
        padding-right: 5%;
    }

    .text-center {
        p {
            text-align: right;
        }
    }

    @media (max-width: 320px) {
        width: 80%;
    }
}



.countDown {

    margin-left: -10%;

    p {
        span {
            &:nth-of-type(1) {
                display: block;
                margin-left: 0px;
            }

            &:nth-of-type(2) {
                display: block;
                margin-left: 20px;
            }

            &:nth-of-type(3) {
                display: block;
                margin-left: 40px;
            }
        }
    }
}




.landingPage {
    height: 100vh;
    justify-content: center;
    color: white;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    .textUnderIdentity {
    }
}



.frontpageBlock { 
    background-color: $cg-lightblue;
    display: flex;
    color: white;
    width: 100%;
    flex-direction: column;
}


.top-buffer {
    padding-top: 10%;
}


.buttom-buffer {
    padding-bottom: 10%;
}




.firstboxcontent {
    text-align: left;
    margin-left: 10%;
    width: 70%;
    span{
        width: 100%;
        display: block;
        height: auto;
    }
}


.callToActionFrontpage {
    padding: 5%;
    display: flex;

    .textBeforeIcon {
        width: 100%;
        margin-top: 6%;
        font-size: 25px;
        text-align: right;

        p {
            margin-right: 12%;
        }
    }

    .iconCallToAction {
        width: 60%;

        p {
            font-size: 50px;
            background-color: $cg-orange;
            border-radius: 50%;
            text-align: center;
            width: 55%;
            display: flex;
            justify-content: center;
            margin-right: 20%;

            @media (max-width: 320px) {
                width: 65%;
            }

            @media (max-width: 360px) {
                width: 60%;
            }
        }
    }

    a {
        color: white;
    }

    .iconArrow {
    }
}
