/*
    Frontpage elements
*/

.frontpageBlock1 { //TODO could be more scemantic
    background-color: $cg-lightblue;
    display: flex;
    color: white;
    width: 100%;
}

.top-buffer {
    padding-top: 10%;
}

.buttom-buffer {
    padding-bottom: 10%;
}



.firstboxcontent {
    text-align: left;
    margin-left: 10%;
    width: 70%;
}
