.speakerTopLine {
    background-color: $cg-green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 10px;
}
.speakerContainer {
    color: #fff;
    margin: 10% 0 0 10%;
    text-align: left;
    width: 80%;
}
.headBox {
    
}

.bodyBox {
    
}
.speakerPicContainer{
    margin: 10%;
    text-align: center;
}
.speakerPicture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.themeContainer {
    background-color: $cg-green;
    padding: 1%;
}
.speakerPicBox {
    width: 38%;
    margin-left: 2%;
}