.speakerContainer {
    p{
        word-break: break-word;
    }
}
.headBox {
    
}

.bodyBox {
    
}
.speakerPicContainer{
    margin: 10%;
    text-align: center;
}
.speakerPicture {
    border-radius: 100%;
}
.themeContainer {
    background-color: $cg-green;
    padding-top: 1%;
}
.speakerPicBox {
    width: 38%;
    margin: 0 2% 0 1%;
}
.speakerName {
    color: #fff;
}
.speakerDescription {
    color: #fff;
}

@media screen and (min-width: 460px) {
    .img-fluid.speakerPicture {
        max-width: 200px;
    }
}