$cg-violet: #413659;
$cg-lightblue: #04BFBF;
$cg-red: #EF5E5E;
$cg-orange: #F36F21;
$cg-green: #4CAF50;

$cg-colors: $cg-violet, $cg-lightblue, $cg-red, $cg-orange, $cg-green; 

$cg-font-color: #fff;
