// --- base imports 
@import '_variables.scss';
@import '_functions.scss';
@import '_animations.scss';
@import '_elements.scss';
@import '_fonts.scss';

// --- page imports
@import '_aboutHQ.scss';
@import '_awardduring.scss';
@import '_awardsbefore.scss';
@import '_awardsafter.scss';
@import '_category.scss';
@import '_feed.scss';
@import '_frontpage.scss';
@import '_odenseLife.scss';
@import '_project.scss';
@import '_schedule.scss';
@import '_speakers.scss';

// --- partial imports
@import '_footer.scss';
@import '_menu.scss';
@import '_navigation.scss';


a {
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
}

.full-w-box {
    padding-left: 0;
    padding-right: 0;
}

paddigbox {
    padding-top: 10%;
    padding-bottom: 10%;
}


i, hr {
    color: $cg-font-color;
}
hr{
    border: 2px solid;
}


/* body */
body.baseBody {
    color: $cg-font-color;
    background-color: $cg-violet;
    width: 100%; 
}

