/* imports */
@import '_variables.scss';
@import '_navigation.scss';
@import '_frontpage.scss';





.container {
    padding-right: 0;
    padding-left: 0; //TODO
}

.row {
    margin-left: 0;
    margin-right: 0;

}

paddigbox {
    padding-top: 10%;
    padding-bottom: 10%;
}
/* body */
.baseBody {
    background-color: $cg-violet;
    width: 100%; 
}


/* content frontpage */


/* Buttons and elements */
.buttonsDiv {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80%;
    margin-top: 5%;
}

.button-red {
    @extend .button;
    background-color: $cg-red;
}

.button-orange {
    @extend .button;
    background-color: $cg-orange;
}

.button-green {
    @extend .button;
    background-color: $cg-green;
}
