@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutHQ>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}

<div class="container aboutborder">
    <div class="row mt-5">

        

        <div class="container">
            <div class="aboutHQblock1">
                <h1 class="h4">@Model.Content.GetPropertyValue("headline")</h1>

                @Model.Content.GetPropertyValue("bodyText")
            </div>
        </div>

    </div>

</div>




    <div class="container">
        <img class="full-width-image" src="@Model.Content.About_fullWidthImage.Url" />
    </div>


<div class="container">
    <div class="row mt-2">



        <div class="container">
            <div class="aboutHQblock2">
                

                @Model.Content.ContactInfo
            </div>
        </div>

    </div>

</div>



