@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Award>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}


<div class="title_award">
    <h4 class="text-white"> @Umbraco.Field("headlineAward")</h4>
</div>

<div class="description">
    <div class="text-white">
        <p> @Umbraco.Field("description")</p>
    </div>
</div>

