@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Feed>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}
<div class="feedTopBorder">


</div>
<div class="container mt-5">
    <div class="row">
        <div class="currentEvents">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="upcommingEvents">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="socialMedia">
            <h4 class="socialHeadline"> Social <br /> Media </h4>
            
            <div class="twitter mt-3">
                <div class="twitterHeadline">
                    <h5>Follow us on Twitter</h5>
                </div>

                <div class="twitterFeed">

                    <a class="twitter-timeline" href="https://twitter.com/hashtag/codegarden" data-widget-id="938896045664342016">#codegarden Tweets</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                </div>
                <a class="button-red" href="~/Views/Feed.cshtml"> #codegarden </a>

            </div> 

            <div class="instagram">

                    <h5>Find us on Instagram</h5>

                <div class="instagramProfiles">
                    <div class="image">

                    </div>
                    <a href="https://www.instagram.com/umbraco/"> <p> Umbraco Profile </p></a>

                </div>
                
                <a class="button-red" href="~/Views/Feed.cshtml"> (PlacePin) Codegarden </a>
            </div>

            <div class="facebook">

                    <h5> Like us on Facebook </h5>


                <a class="button-red" href="~/Views/Feed.cshtml"> (ThumbsUP) Facebook </a>
            </div>
           

           



        </div>

    </div>
</div>

