@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Feed>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}

<div class="container feedTopBorder">
    <div class="row">
        <div class="currentEvents">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="upcommingEvents">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="socialMedia">

            <h4> Social Media </h4>

            <div class="twitter">
                <div class="twitterHeadline">
                    <h5>Follow us on Twitter</h5>
                </div>
                <a class="button-red" href="~/Views/Feed.cshtml"> #codegarden </a>

            </div>

            <div class="instagram">

                    <h5>Find us on Instagram</h5>
                
                <a class="button-red" href="~/Views/Feed.cshtml"> (PlacePin) Codegarden </a>
            </div>

            <div class="facebook">

                    <h5> Like us on Facebook </h5>


                <a class="button-red" href="~/Views/Feed.cshtml"> (ThumbsUP) Facebook </a>
            </div>
           

           



        </div>

    </div>
</div>

