@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}

<div class="container full-w-box">
    <div class="row ">
       <div class="firstbox"> 

            <div class="firstboxcontent top-buffer">
                   <h4> @Umbraco.Field("headline")</h4>
            </div>
        
        
    </div>
        <div class="firstbox">

            
            <div class="firstboxcontent">
                <p> @Umbraco.Field("bodyText") </p>
            </div>

        </div>
</div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 paddigbox">

            <div class="buttonsDiv">
                <a class="button-red" href="~/Views/Feed.cshtml"> Feed </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-orange"  href="~/Views/Speakers.cshtml"> Speakers </a>
            </div>
            <div class="buttonsDiv">
                <a class="button-green" href="~/Views/Schedule.cshtml"> Schedule </a>
            </div>
           
            

        </div>


    </div>
</div>

