@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Project>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
    var projects = Model.Content.Site().Descendants<Project>();

    var mediaId = Umbraco.Field("picture");
    //Get the MediaType to Write the URL
    var media = Umbraco.Media(mediaId.ToString());
    //Salve the Path into the Image
    var image = media.Url;
}

    <div class="_project row">
       
        <div class="firstBox">
        <h4>@Umbraco.Field("headline")</h4>
        <p>@Umbraco.Field("creator")</p>
         </div>
        <img src=@image /> 
            <div class="secondBox">
        <p>@Umbraco.Field("bodytext")</p>
        </div>
        

        <form action="/umbraco/api/vote/commitvote" class="vote">
           <input type="hidden" name="project-id" value="@Model.Content.Id" />
            <input class="box" type="text" name="ticket-id" placeholder="your ticket number">
            <input class="submit" type="submit" value="Vote Now">
        </form>
    </div>
     

