@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Project>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
    var projects = Model.Content.Site().Descendants<Project>();

    var mediaId = Umbraco.Field("picture");
    //Get the MediaType to Write the URL
    var media = Umbraco.Media(mediaId.ToString());
    //Salve the Path into the Image
    var image = media.Url;
}

    <div class="_project">
        <div class="col-md-4">
        <h1>@Umbraco.Field("headline")</h1>
        <p>@Umbraco.Field("creator")</p>
        <img src=@image />       
        <p>@Umbraco.Field("bodytext")</p>
        <br />
        

        <form action="/umbraco/api/vote/commitvote" id="vote">
           <input type="hidden" name="project-id" value="@Model.Content.Id" />
            <input class="box" type="text" name="ticket-id" value="your ticket number">
            <input class="submit" type="submit" value="Vote Now">
        </form>
        </div>
     </div>

