@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Schedule>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}


<section id="schedule" class="schedule">
    <div class="block">

        <h2 class="headline">Schedule</h2>
        <div class="day">

            <h3 class="decorated"><span>Tuesday, June 6th</span></h3>
            <div class="program">

                <div class="program-row row-description"></div>
                <div class="program-row">

                    <div class="time">19:30</div>
                    <div class="room" style="width: 60%; font-weight: bold">
                        Pre Codegarden Party at Umbraco HQ 19:30 - 22:30. (Drinks only)
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <h3 class="decorated"><span>Wednesday, June 7th</span></h3>
            <div class="program-container">
                <div class="program">

                    <div class="program-row row-description">
                        <div class="time">Time</div>

                        <div class="room">Main Room</div>
                        <div class="room">Back Room</div>
                        <div class="room">Entrance Room</div>
                        <div class="room">Stjerneskibet (The starship)</div>
                    </div>

                    <div class="program-row">
                        <div class="time">6:30</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/cgrunners/">#CgRunners</a>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">9:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Keynote: Niels Hartvig
                            <br><small title="Chief Unicorn" style="font-size: 11px">Niels Hartvig</small>
                            <br>
                            <a href="https://vimeo.com/221711532" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">11:30</div>

                        <div class="room">
                            <span>Main Room</span>
                            Why Content Projects Fail
                            <br><small title="" style="font-size: 11px">Deane Barker</small>
                            <br>
                            <a href="https://vimeo.com/221710557" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/authentication-and-sign-on-scenarios-with-umbraco/">Authentication and sign-on scenarios with Umbraco</a>
                            <br><small title="" style="font-size: 11px">Frederik Raabye</small>
                            <br>
                            <a href="https://github.com/fraabye/cg17presentation" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224047478" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/dot-complex-e-commerce-in-less-than-12-weeks/">DOT: Complex e-commerce, in less than 12 weeks</a>
                            <br><small title="" style="font-size: 11px">Tomas A. Krag</small>
                            <br>
                            <a href="https://www.dropbox.com/s/s13uwa286lrloxt/CodegardenDOT_20170607.pptx?dl=0" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224049003" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">12:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Lunch
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">13:30</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/7-key-findings-learned-from-testing-the-worlds-leading-mobile-e-commerce-sites/">7 Key Findings Learned from Testing the World's Leading Mobile E-Commerce Sites</a>
                            <br><small title="" style="font-size: 11px">Christian Holst</small>
                            <br>
                            <a href="https://vimeo.com/221709525" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/securing-your-umbraco-site-the-right-way/">Securing your Umbraco site the right way</a>
                            <br><small title="Master of automation, Umbraco community steward" style="font-size: 11px">Sebastiaan Janssen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eWk5JcG1hTkhoTFU" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224048181" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/the-missing-link-how-investing-in-development-met-with-our-business-objectives/">The Missing Link: How Investing in Development Met with Our Business Objectives</a>
                            <br><small title="" style="font-size: 11px">Jessica Rowe</small>
                            <br>
                            <a href="https://prezi.com/view/28efRS2pHr6DUXrqaIf1/" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224048634" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Stjerneskibet (The starship)</span>
                            <a href="/sessions/workshop-umbraco-cloud/">Workshop: Umbraco Cloud</a>
                            <br><small title="" style="font-size: 11px">Rune Strand</small>
                            <br><small title="" style="font-size: 11px">Morten Christensen</small>
                            <br>
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">14:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Break
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">15:00</div>

                        <div class="room">
                            <span>Main Room</span>
                            Security isn't just about code, It's people!
                            <br><small title="Security isn't just code, its people!" style="font-size: 11px">Morten Von Selen</small>
                            <br>
                            <a href="https://vimeo.com/221711265" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/going-agile-at-danfoss-umbraco-in-this-environment/">Going agile at Danfoss &amp; Umbraco in this environment</a>
                            <br><small title="" style="font-size: 11px">Jesper Lund Dalgaard</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eVi1qeDUxb1l1Nms" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224047923" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/commerce-and-the-browser-in-2017/">Commerce and the browser in 2017</a>
                            <br><small title="" style="font-size: 11px">Filip Bruun Bech-Larsen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eMWVNc0RJWklfZGM" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224048456" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">16:00</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/how-to-deploy-multi-million-dollar-ecommerce-on-umbraco-cloud/">How to Deploy Multi-Million Dollar eCommerce on Umbraco Cloud</a>
                            <br><small title="" style="font-size: 11px">Dann Sheridan</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eWU5PX2VDelVYSWM" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/221710056" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/flexible-editorial-experiences-for-the-official-homepage-of-the-danish-government/">Flexible editorial experiences for the official homepage of the danish government</a>
                            <br><small title="Senior Advisor" style="font-size: 11px">Jacob Svarre</small>
                            <br><small title="Lead Developer" style="font-size: 11px">Kim Bantz Rasmussen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1edTNNYkV6QWtYOUE" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224047715" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/fc-st-pauli-and-umbraco-how-to-perform-a-successful-relaunch-in-microsoft-azure/">FC St. Pauli and Umbraco - how to perform a successful relaunch in Microsoft Azure</a>
                            <br><small title="" style="font-size: 11px">Malte Stenzel</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eX3ZpUFFnZ3VpaDQ" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/224048858" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">17:00</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Umbraco Awards
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">18:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Socialising, coding, networking and dinner
                            <br>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="day">
            <h3 class="decorated">Thursday, June 8th</h3>
            <div class="program-container">
                <div class="program">

                    <div class="program-row row-description">
                        <div class="time">Time</div>

                        <div class="room">Main Room</div>
                        <div class="room">Back Room</div>
                        <div class="room">Entrance Room</div>
                        <div class="room">Stjerneskibet (The starship)</div>
                    </div>

                    <div class="program-row">
                        <div class="time">6:30</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/cgrunners/">#CgRunners</a>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">8:15</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/mindful-morning/">Mindful morning</a>
                            <br><small title="Mindfulness" style="font-size: 11px">Kris Deminick</small>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">9:00</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/building-core-strength/">Building Core Strength</a>
                            <br><small title="Microsoft MVP, Author of Examine and Articulate packages" style="font-size: 11px">Shannon Deminick</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eMFRQR2NQdzFxVDg" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/221714830" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/all-in-on-umbraco-cloud/">All in on Umbraco Cloud</a>
                            <br><small title="" style="font-size: 11px">Michael Nielsen</small>
                            <br>
                            <a href="https://www.slideshare.net/secret/aYgKywVauIoG37" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/225222205" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/danish-competition-and-consumer-authority-and-umbraco/">Danish Competition and Consumer Authority and Umbraco</a>
                            <br><small title="" style="font-size: 11px">Rene Nielsen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eamRZWGl4YUFIQXM" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/229537289" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Stjerneskibet (The starship)</span>
                            <a href="/sessions/workshop-unit-testing-umbraco/">Workshop: Unit-testing Umbraco</a>
                            <br><small title="" style="font-size: 11px">Lars Erik Aabech</small>
                            <br><small title="" style="font-size: 11px">Anthony Dang</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1ecmxINHhUODJXeGc" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">10:00</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Break
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">10:15</div>

                        <div class="room">
                            <span>Main Room</span>
                            Umbraco Core Team Retreat Status
                            <br>
                            <a href="https://vimeo.com/221715154" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/manage-all-the-things-controlling-content-for-the-connected-world/">Manage All The Things: Controlling Content For The Connected World</a>
                            <br><small title="" style="font-size: 11px">Carole Rennie Logan</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eOEVVXzNXV0FNSE0" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/225213097" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/devops-with-elmahio-on-umbraco-cloud/">Devops with elmah.io on Umbraco Cloud</a>
                            <br><small title="" style="font-size: 11px">Thomas Ardal</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eV0RrNTA4U0N6MU0" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/229537607" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">11:15</div>

                        <div class="room">
                            <span>Main Room</span>
                            Why IT Projects fail
                            <br><small title="" style="font-size: 11px">Martin Frederiksen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eMGJtczlrMURoRFk" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/221713391" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/progressive-web-apps-app-development-for-the-rest-of-us/">Progressive Web Apps - app development for the rest of us.</a>
                            <br><small title="" style="font-size: 11px">Matt Brailsford</small>
                            <br>
                            <a href="http://mattbrailsford.github.io/umbraco-presentations/2017/06/09/progressive-web-apps/index.html#/" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/225213454" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            #h8yr - all about v8 architecture
                            <br><small title="Modelsbuilder inventor, Umbraco 8 developer" style="font-size: 11px">Stephan Gay</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eRGc4d0dfNFpFbTQ" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/229538114" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">12:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Lunch
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">13:15</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/umbrangular-backoffice-angular-directives/">Umbrangular - backoffice angular directives</a>
                            <br><small title="" style="font-size: 11px">Rune Strand</small>
                            <br><small title="" style="font-size: 11px">Mads Rasmussen</small>
                            <br>
                            <a href="https://docs.google.com/presentation/d/1ZUt6EPkqZurF4I2IRtKNZSX7Z-6j8eSxr0dzz9dLNgY/edit?usp=sharing" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/221714475" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/accessibility-what-does-it-actually-mean-and-how-to-do-it-right/">Accessibility – what does it actually mean, and how to do it right?</a>
                            <br><small title="" style="font-size: 11px">Stein Erik Skotkjerra</small>
                            <br>
                            <a href="https://vimeo.com/229538472" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/when-content-and-development-teams-join-forces/">When content and development teams join forces</a>
                            <br><small title="" style="font-size: 11px">Huan Song</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eTG5ETXpvU2tQWWM" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/229536795" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Stjerneskibet (The starship)</span>
                            <a href="/sessions/workshop-ucommerce/">Workshop: UCommerce</a>
                            <br><small title="" style="font-size: 11px">Søren Spelling Lund</small>
                            <br>
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">14:15</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Break
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">14:45</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/building-wonderful-things-with-forms/">Building wonderful things with forms</a>
                            <br><small title="Wonderful things with Forms" style="font-size: 11px">Per Ploug</small>
                            <br>
                            <a href="https://docs.google.com/presentation/d/1iVEoYqzAscW8Cs026kVEjb9SicFk2kXC2EBEaW2Xh1M/edit?usp=sharing" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/221714150" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/fast-and-furiously-multilingual-publishing-of-eu-politics-in-24-languages/">Fast and furiously multilingual: Publishing of EU politics in 24 languages</a>
                            <br><small title="" style="font-size: 11px">Simone Chiaretta</small>
                            <br><small title="" style="font-size: 11px">Dirk De Grave</small>
                            <br>
                            <a href="http://codeclimber.net.nz/archive/2017/06/09/how-we-implemented-a-multi-lingual-site-with-umbraco-at-the-council-of-eu/" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/225213818" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/how-we-migrated-66-north-to-the-cloud/">How we migrated 66°North to the Cloud</a>
                            <br><small title="" style="font-size: 11px">Garðar Þorsteinsson</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1edWVvWXRBLWwzMEU" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/229536248" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">15:45</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/new-adventures-in-responsive-web-design/">New Adventures in Responsive Web Design</a>
                            <br><small title="" style="font-size: 11px">Vitaly Friedman</small>
                            <br>
                            <a href="https://vimeo.com/221715437" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>Back Room</span>
                            <a href="/sessions/umbraco-cms-as-presentation-layer-for-real-time-erp-data/">Umbraco CMS as presentation layer for real-time ERP data</a>
                            <br><small title="" style="font-size: 11px">Bertram Paaskesen</small>
                            <br>
                            <a href="https://drive.google.com/open?id=0Bz8FB_4Dcy1eRkFzNF9zMkxmSDA" target="_blank" title="Get session slides"><i class="mi mi-dvr"></i></a>
                            <a href="https://vimeo.com/225212643" target="_blank" title="Watch session video"><i class="mi mi-play-circle-filled"></i></a>
                        </div>
                        <div class="room">
                            <span>The Entrance Room</span>
                            <a href="/sessions/scrum-and-lego/">Scrum and Lego</a>
                            <br><small title="Scrum and Legos" style="font-size: 11px">Ania Kierczynska</small>
                            <br>
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">16:45</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Socialising, drinks and conversation
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">18:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            The infamous Umbraco bingo and dinner
                            <br>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="day">
            <h3>Friday, June 9th</h3>
            <div class="program-container">
                <div class="program">

                    <div class="program-row row-description">
                        <div class="time">Time</div>

                        <div class="room">Main Room</div>
                        <div class="room">Back Room</div>
                        <div class="room">Entrance Room</div>
                        <div class="room">Stjerneskibet (The starship)</div>
                    </div>

                    <div class="program-row">
                        <div class="time">6:30</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/cgrunners/">#CgRunners</a>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">8:00 - 14:30</div>

                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                            <span>Stjerneskibet (The starship)</span>
                            <a href="/vitaly-friedman-masterclass/">Vitaly Friedman Masterclass</a>
                            <br>
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">8:15</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/mindful-morning/">Mindful morning</a>
                            <br><small title="Mindfulness" style="font-size: 11px">Kris Deminick</small>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">9:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Opening Circle
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">10:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Open Space Sessions
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">12:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Lunch
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">13:30</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Open Space Sessions
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">14:15</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Closing Circle
                            <br>

                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">15:00</div>

                        <div class="room">
                            <span>Main Room</span>
                            <a href="/sessions/betagarden/">BETAGarden</a>
                            <br>
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>
                        <div class="room">
                        </div>

                    </div>
                    <div class="program-row">
                        <div class="time">16:00</div>

                        <div class="room" style="width: 60%; font-weight: bold">
                            Closing announcements, drinks, goodbyes, hugs
                            <br>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>