@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>@Umbraco.Field("metaTitle")</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style type="text/css">
        nav.navbar-fixed-top {
            margin-top: 32px;
        }
    </style>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/master.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
   
</head>
<body class="baseBody">
    <div class="container">

        <div class="topbar">


            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="nav navbar-nav navbar-right">



            </div>

        </div>

        @RenderBody()


    </div>

    
            @* jQuery first, then Popper.js, then Bootstrap JS *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            
            
            @* project scripts *@
            <script src="~/scripts/functions.js"></script>

</body>
</html>

  