@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    var contentFromFrontpage = Model.Content.Site();
   

}


<footer>
    <div class="footerContainer">


        <div class="footerColumn">
            
        </div>



        <div class="footerColumn">

            <a href="/about-hq"> Contact </a>

        </div>

        <div class="footerColumn">
            <a href="@contentFromFrontpage.GetPropertyValue("callToActionLink")"> Buy Tickets</a>
        </div>




    </div>

</footer>