@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    
}


<footer>
    <div class="footerContainer">


        <div class="footerColumn">
            <p> footer  </p>
        </div>



        <div class="footerColumn">

            <a href="/about-hq"> Contact </a>

        </div>



@{
	var selection = Model.Content.Site().Children()
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>


        <div class="footerColumn">
            <a href=""> Buy Tickets</a>
        </div>




    </div>

</footer>